name: test

on: 
  watch:
    types: started
  schedule:
  - cron: '40/5 12 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai
    strategy:
      matrix:
        python-version: [ '3.x' ]
    name: Python ${{ matrix.python-version }} sample
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install pip
        run: |
            python -m pip install --upgrade pip
      - name: Install requests
        run: |
            pip install requests
            pip3 install pycryptodome -i https://pypi.tuna.tsinghua.edu.cn/simple
      - name: 'Working'
        env:
          MOBILE: ${{ secrets.MOBILE }}
          PASSWORD: ${{ secrets.PASSWORD }}
          LNGLAT: ${{ secrets.LNGLAT }}
          ADDRESS: ${{ secrets.ADDRESS }}
        run:
            python yiban.py
#            echo "RESULT=$(python -c 'import yiban; print yiban.main()')" >> $GITHUB_ENV
#         if: ${{ env.RESULT=='失败' }}
      
#             success()
            
      - name: 'Get Date'
        if: ${{ success() }}
        run: echo "REPORT_DATE=$(TZ=':Asia/Shanghai' date '+%Y-%m-%d %T')" >> $GITHUB_ENV
      - name: 'Send mail'
        if: ${{ success() }}
        uses: dawidd6/action-send-mail@master
        with:
          server_address: smtp.qq.com
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: 签到预报 (${{env.REPORT_DATE}})
          body: "success"
          to: ${{ secrets.MAIL_USERNAME }}
          from: GitHub Actions
          content_type: text/html
